.NavbarContainer {
  gap: 40%;
  height: 34px;
  display: flex;
  width: 40%;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .NavbarContainer {
    gap: 20%;
  }
}
.NavbarContainer a {
  text-decoration: none;
}
.NavbarContainer li {
  list-style: none;
  color: #ff6060;
  width: fit-content;
  white-space: nowrap;
}

.NavbarContainer .active li {
  border-bottom: 2px solid #ff6060;
}
